@charset "UTF-8";

a {
  color: #000000;
  font-weight: bold;
}

em {
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 65px 130px;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
  letter-spacing: 1px;
}

h1 {
  margin: 39px 0 0 0;
  padding: 0;
  font-size: 189%;
  font-weight: normal;
}

h2 {
  margin: 39px 0 0 0;
  padding: 0;
  font-size: 167%;
  font-weight: normal;
}

p {
  margin: 13px 0 0 0;
}

#header {
  margin: 65px 0 0 0;
}

#contents {
  margin: 65px 0 0 0;
}

#contents #message {
  margin: 39px 0 0 0;
}

#contents #message .status {
  color: #cccccc;
}

#contents #message .error {
  color: #ff0000;
}

#contents form {
  margin: 39px 0 0 0;
}

#contents form table {
  margin: 0;
  padding: 0;
}

#contents form table tr th {
  padding-bottom: 13px;
  width: 130px;
  text-align: left;
}

#contents form table tr th label {
}

#contents form table tr td {
  padding-bottom: 13px;
}

#contents form table tr td input {
  padding: 3px;
  font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
}

#contents form p {
  margin: 0 0 0 130px;
}

#contents form p input {
}

#contents #result {
  margin: 39px 0 0 0;
}

#contents #result p textarea {
  width: 650px;
  font-family: Consolas, Monaco, monospace;
}

#about {
  margin: 65px 0 0 0;
}

#footer {
  margin: 65px 0 0 0;
}
