@charset "UTF-8";

a {
  color: #000000;
}

em {
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 65px 130px;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font-family: "Verdana", sans-serif;
}

h1 {
  margin: 39px 0 0 0;
  padding: 0;
  font-size: 189%;
  font-weight: normal;
}

h2 {
  margin: 39px 0 0 0;
  padding: 0;
  font-size: 167%;
  font-weight: normal;
}

h3 {
  margin: 39px 0 0 0;
  padding: 0;
  font-size: 146.5%;
  font-weight: normal;
}

p {
  margin: 13px 0 0 0;
  line-height: 1.75;
  text-align: justify;
}

pre {
  margin: 13px 0 0 0;
  line-height: 1.5;
  overflow: auto;
  word-break: break-all;
}

#header {
  margin: 65px auto;
  width: 640px;
}

#contents {
  margin: 65px auto;
  width: 640px;
}

#contents #message {
  margin: 39px 0 0 0;
}

#contents #message .status {
  color: #cccccc;
}

#contents #message .error {
  color: #ff0000;
}

#contents form {
  margin: 39px 0 0 0;
}

#contents form table {
  margin: 0;
  padding: 0;
}

#contents form table tr th {
  padding-bottom: 13px;
  width: 130px;
  font-weight: normal;
  text-align: left;
}

#contents form table tr th label {
}

#contents form table tr td {
  padding-bottom: 13px;
}

#contents form table tr td input {
  padding: 3px;
  border: 1px solid #cccccc;
  width: 502px;
  font-family: "Verdana", sans-serif;
}

#contents form p {
  margin: 0 0 0 130px;
}

#contents form p input {
}

#contents #result {
  margin: 39px 0 0 0;
}

#contents #result #preview {
  margin: 13px 0 0 0;
  border: 3px solid #cccccc;
  width: 634px;
  background-color: #ffffff;
}

#contents #result #preview .asamashi {
  margin: 13px;
  overflow: hidden;
}

#contents #result #preview .asamashi .image {
  margin: 0;
  float: left;
  width: 160px;
}

#contents #result #preview .asamashi .image a {
  text-decoration: none;
}

#contents #result #preview .asamashi .image a img {
  border: 0;
}

#contents #result #preview .asamashi .detail {
  margin: 0 0 0 173px;
}

#contents #result #preview .asamashi .detail .title {
  margin: 0 0 13px 0;
  overflow: hidden;
  line-height: 1.25;
  font-size: 146.5%;
  white-space: nowrap;
}

#contents #result #preview .asamashi .detail ul {
  margin: 0 0 13px 0;
  line-height: 1.75;
}

#contents #result #preview .asamashi .detail .powered {
  margin: 0;
  line-height: 1.25;
  text-align: right;
}

#contents #result p textarea {
  margin: 0;
  border: 1px solid #cccccc;
  width: 638px;
  font-family: "Andale Mono", monospace;
}

#contents #usage {
  margin: 39px 0 0 0;
}

#footer {
  margin: 65px auto;
  width: 640px;
}
